/* ----------------CONTACT------------------ */
.contact_container {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    

    /* flex-direction: column; */
   
}


.form_container{
    @extend.contact_container;
    padding-top: 20px;
    
    .messageBox{
        margin-top: 40px;
        margin-bottom: 30px;
         width: 400px;
      }
}