/* -----------------nav bar ----------------*/
.header-Container {
    // background-color: $color-black;
    background-image:linear-gradient(black, rgba(255,0,0,0));
    /* height: 70px; */
    z-index: 2;

}

.header-Container__marcaJavier {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: $color-white;
    width: 20%;
    float: left;
    margin: 15px 0 0 60px;
    // background-image: linear-gradient(to right,black,black,white);
    z-index: 1;

    &--iconorojo {
        color: $color-red;
    }
}
.header-Container__navBar {

    /* width: 40%; */
    float: right;
    padding: 25px 0 0 0;

    a {
            color: $color-white;
            text-decoration: none;
            background-color: none;
            padding: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 5px;
        }
}

.header-Container__navBar--button {
    list-style-type: none;
    display: inline-block;
    margin: 0 -2px ;
}


.disabled {
    background-color: $color-red;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}