/* ----------------SKILLS------------------ */
.pageTitle{
    .pageTitle__title{
        font-family: 'Anton', sans-serif;
        letter-spacing: 3px;
        font-size: 80px;
    }
}
.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}