/* ----------------SKILLS------------------ */
.pageTitle{
    .pageTitle__title{
        font-family: 'Anton', sans-serif;
        letter-spacing: 3px;
        font-size: 80px;
    }
}
.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
        .NoBullets{
            
            list-style-type: none; 
            text-align: center;    
        }
        .skills-content--center{    
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    .skills-content--title{
    font-size: 35px;
    padding-bottom: 5px;
    padding-top: 15px;
    }
    
    .skills-content--tecnical{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
        }
 

}
@media (max-width: 600px) {
    .skills-content {
      flex-direction: column;
    }
    .skills-content--center {
        margin-top: 30px;
    }
    .skills-content--tecnical{
        flex-flow:  wrap;
        align-items: center;
            }
}